
RewriteEngine On
RewriteBase /location_voiture_mvc/public/


Options -Indexes

<FilesMatch "\.(env|ini|log|sql|json|yml|yaml|md|txt)$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteRule ^(app|config|core|vendor)/ - [F,L]


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]


DirectoryIndex index.php
